/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: "Nunito", sans-serif; */
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.gradient-color {
  background: linear-gradient(
    90deg,
    hsla(221, 100%, 50%, 1) 0%,
    hsla(242, 100%, 33%, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(221, 100%, 50%, 1) 0%,
    hsla(242, 100%, 33%, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(221, 100%, 50%, 1) 0%,
    hsla(242, 100%, 33%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0051FF", endColorstr="#0600A6", GradientType=1);
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  @apply appearance-none;
  margin: 0;
}

/* For Firefox */
.no-spinner[type="number"] {
  @apply appearance-none;
}
